%div
  %p
    %strong Nombre:
    = student.name
  %p
    %strong Apellidos:
    = student.last_name
  %p
    %strong Genero:
    = student.gender
  %p
    %strong Fecha de nacimiento:
    = student.date_of_birth