.container
  .row.justify-content-center
    .col-md-4
      %h1 Nuevo alumno
      = render "form", student: @student, text_button: 'Crear alumno'
      %br/
      %div
        = link_to "Regresar a estudiantes", students_path,class:'btn btn-secondary'
        
    