%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{:href => "#"} Colegy
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Alumnos',students_path, class:'nav-link' 
        %li.nav-item
          = link_to 'Profesores', teachers_path,class:'nav-link'
        %li.nav-item
          = link_to 'Grados', grades_path,class:'nav-link'
        %li.nav-item
          = link_to 'alumno grados' ,student_grades_path,class:'nav-link'